:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;

  > *:not(:last-child) {
    margin-right: 16px;
  }
}

.image {
  width: 50%;
  flex-shrink: 0;

  img {
    width: 100%;
  }
}

.details {
  > * {
    margin-bottom: 10px;
  }
}

.description {
  &-title {
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  font-size: 14px;
  line-height: 1.65;
}

.actions {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;

  > *:not(:last-child) {
    margin-right: 12px;
  }
}
