<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>Sign in into your account</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content [formGroup]="form">
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
      <mat-icon matSuffix color="primary">account_box</mat-icon>
      <mat-error *ngIf="form.get('username').hasError('required')">Field required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-icon matSuffix color="primary">visibility_off</mat-icon>
      <mat-error *ngIf="form.get('password').hasError('required')">Field required</mat-error>
    </mat-form-field>

    <div class="remember">
      <mat-checkbox formControlName="remember">Remember me</mat-checkbox>
      <!-- <a href="#">Forgot Password?</a> -->
    </div>
  </mat-card-content>

  <mat-card-footer>
    <button [disabled]="form.invalid || (loading$ | async)" (click)="login()" mat-button mat-flat-button color="primary">
      <span *ngIf="!(loading$ | async)">Login</span>
      <span *ngIf="loading$ | async" class="loading">
        <span>Loading...</span>
        <mat-spinner [diameter]="18"></mat-spinner>
      </span>
    </button>
    <div class="social-media">
      <span>OR</span>
      <button mat-button mat-flat-button class="facebook">Login with Facebook</button>
    </div>
    <div class="social-media">
      <p>Don't have an account? <a routerLink="../register">Register here</a></p>
    </div>
  </mat-card-footer>
</mat-card>
