@import "~@angular/material/theming";

:host {
  display: flex;
  min-width: 300px;
  max-width: 500px;
  height: min-content;
  margin-top: 100px;
}

mat-card {
  padding: 48px 32px;

  > *:not(:last-child) {
    margin-bottom: 32px;
  }

  @include mat-elevation(8);
}

mat-card-header {
  display: flex;
  justify-content: center;

  h1,
  mat-card-title {
    margin: 0;
  }
}

mat-card-content {
  padding: 0 16px 8px 16px;
}

mat-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0 16px;

  > *:not(:last-child) {
    margin-bottom: 8px;
  }
}

button {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  .facebook {
    color: #4267b2;
  }

  .google {
    color: #db4437;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  > *:not(:last-child) {
    margin-right: 16px;
  }
}

@media screen and (max-width: 420px) {
  :host {
    margin-top: 0;
    height: auto;
  }

  mat-card {
    padding: 32px 16px;
  }
}
