<mat-card class="product">
  <img class="image" [src]="image" mat-card-image />
  <mat-card-title>
    <h2>{{ product.name }}</h2>
  </mat-card-title>
  <mat-card-content>
    <p>{{ getIngredients(product.ingredients) }}</p>
  </mat-card-content>
  <mat-card-footer class="footer">
    <p class="price">${{ product.price }}</p>
    <button
      mat-button
      mat-flat-button
      [disabled]="loading"
      color="primary"
      (click)="addProductToCart(product)"
    >
      Add to cart
    </button>
  </mat-card-footer>
</mat-card>
