<div class="products-container">
  <div class="products-header">
    <mat-icon>shopping_cart</mat-icon>
    <h1>Shopping Cart</h1>
  </div>

  <div class="products-list">
    <app-shopping-cart-item></app-shopping-cart-item>
    <app-shopping-cart-item></app-shopping-cart-item>
    <app-shopping-cart-item></app-shopping-cart-item>
    <app-shopping-cart-item></app-shopping-cart-item>
    <app-shopping-cart-item></app-shopping-cart-item>
    <app-shopping-cart-item></app-shopping-cart-item>
    <app-shopping-cart-item></app-shopping-cart-item>
    <app-shopping-cart-item></app-shopping-cart-item>
    <app-shopping-cart-item></app-shopping-cart-item>
  </div>

  <div class="products-footer">
    <h2>Total of: $122.23</h2>
    <div class="actions">
      <button mat-button mat-flat-button color="warn">Clear</button>
      <button mat-button mat-flat-button color="primary">Checkout</button>
    </div>
  </div>
</div>
