<div class="products-container">
  <div class="products-header">
    <h1>Recommended for you</h1>
  </div>

  <div class="products-list">
    <app-product
      *ngFor="let product of recommended$ | async; let i = index"
      [product]="product"
      image="../../../../assets/images/hot_dog_{{ i % 5 }}.png"
    ></app-product>
  </div>

  <div class="products-header second">
    <h1>Hot Dogs</h1>
  </div>

  <div class="products-list">
    <app-product
      *ngFor="let product of products$ | async; let i = index"
      [product]="product"
      image="../../../../assets/images/hot_dog_{{ i % 5 }}.png"
    ></app-product>
  </div>
</div>
