@import "~@angular/material/theming";

:host {
  width: 100%;
  min-height: 100%;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  text-align-last: center;
}

.products {
  display: flex;
  flex-direction: column;

  &-header {
    width: 90%;
    align-self: center;

    h1 {
      font-size: 32px;
    }

    &.second {
      margin-top: 72px;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    min-width: 300px;
    padding: 72px 36px;
    background-color: white;
    margin-bottom: 50px;

    @include mat-elevation(5);
  }

  &-list {
    width: 100%;
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    > * {
      min-width: 300px;
      display: block;
      margin: 24px;
    }
  }
}

@media screen and (max-width: 858px) {
  .products {
    &-container {
      padding-left: 0;
      padding-right: 0;
    }

    &-list {
      > * {
        width: 300px;
        display: block;
        margin: 24px;
      }
    }
  }
}
