<h2>{{ title }}</h2>
<ng-container [formGroup]="product">
  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Product name"
      formControlName="name"
    />
  </mat-form-field>

  <mat-form-field>
    <textarea
      matInput
      placeholder="Product description"
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Product price"
      formControlName="price"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="text"
      placeholder="Product discount"
      formControlName="discount"
    />
  </mat-form-field>
</ng-container>

<div class="actions">
  <button mat-flat-button (click)="close()">Cancel</button>
  <button
    [disabled]="product.invalid || (loading$ | async)"
    (click)="create()"
    mat-flat-button
    color="primary"
  >
    <span *ngIf="!(loading$ | async)">{{ this.data ? "Edit" : "Create" }}</span>
    <span *ngIf="loading$ | async" class="loading">
      <span>Loading...</span>
      <mat-spinner [diameter]="18"></mat-spinner>
    </span>
  </button>
</div>
